{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: black;">
    <div class="container my-5 text-white">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="border border-3 border-f2b705 p-4 rounded">
                    <div class="card-body">
                        <h1 class="text-center mb-4 text-warning">Contact Us</h1>

                        <div class="mb-4">
                            <h5>Email:</h5>
                            <p class="text-white"><a href="mailto:marian.l.hrab@gmail.com" class="text-decoration-none text-white">marian.l.hrab@gmail.com</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
