<header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <!-- Додайте інші посилання або елементи меню, які вам потрібні -->
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

