{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Деталі кімнати</title>
</head>
<body>
    <h1>Привіт, гравець!</h1>
    <!-- Виведення місць у кімнаті -->
    <ul>
        {% for place in places %}
        <li id="place{{ place.id }}">
            <!-- Кнопка "take a place" -->
            {% if place.player_name %}
                <span>{{ place.player_name }} Place №{{ forloop.counter }}</span>
            {% else %}
                <button onclick="takePlace({{ place.id }})">Take a Place</button>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated and room.creator == user %}
        <button onclick="deleteRoom({{ room.id }})">Delete Room</button>
    {% endif %}



    <h2>Поточний хід:</h2>
        {% if room.current_turn_player %}
            <p id="currentTurnPlayer">{{ room.current_turn_player.username }}</p>
            {% if room.current_turn_player == user %}
                {% if not place.turn_finished and not place.can_end_turn %}
                    {% if not room.turn_ended and not room.voting_started %}
                        <button class="end-turn-button" data-room-id="{{ room_id }}">End Turn</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            <p>Гра ще не почалася або немає поточного гравця</p>
        {% endif %}

    <h2>Список гравців:</h2>
    <ul>
        {% for place in places %}
            {% if not place.player_name.is_kicked%}
                <li>{{ place.player_name }}</li>
                {% with character_card=place.character_card %}
                    {% if character_card %}
                        <ul>
                            {% if character_card.player == request.user %}
                                <!-- Показуємо кнопки "Show" тільки поточному гравцеві -->
                                <li>Bio: {{ character_card.bio }}</li>
                                        {% if room.current_turn_player == user %}
                                            <button onclick="toggleVisibility('{{ character_card.id }}', 'bio')">Show bio</button>
                                        {% endif %}
                                        <li>Health: {{ character_card.health }}</li>
                                        {% if room.current_turn_player == user %}
                                            <button onclick="toggleVisibility('{{ character_card.id }}', 'health')">Show Health</button>
                                        {% endif %}
                                        <li>Phobia: {{ character_card.phobia }}</li>
                                        {% if room.current_turn_player == user %}
                                            <button onclick="toggleVisibility('{{ character_card.id }}', 'phobia')">Show Phobia</button>
                                        {% endif %}
                                        <li>Hobby: {{ character_card.hobby }}</li>
                                        {% if room.current_turn_player == user %}
                                            <button onclick="toggleVisibility('{{ character_card.id }}', 'hobby')">Show Hobby</button>
                                        {% endif %}
                                        <li>Knowledge: {{ character_card.knowledge }}</li>
                                        {% if room.current_turn_player == user %}
                                            <button onclick="toggleVisibility('{{ character_card.id }}', 'knowledge')">Show Knowledge</button>
                                        {% endif %}
                                        <li>Additional Info: {{ character_card.additional_info }}</li>
                                        {% if room.current_turn_player == user %}
                                            <button onclick="toggleVisibility('{{ character_card.id }}', 'additional_info')">Show Additional Info</button>
                                        {% endif %}
                                        <li>Baggage: {{ character_card.luggage }}</li>
                                        {% if room.current_turn_player == user %}
                                            <button onclick="toggleVisibility('{{ character_card.id }}', 'luggage')">Show Baggage</button>
                                        {% endif %}
                            {% else %}
                                {% if not character_card.bio_hidden %}
                                        <li>Bio: {{ character_card.bio }}</li>
                                    {% else %}
                                        <li>Bio: Hidden</li>
                                    {% endif %}
                                    {% if not character_card.health_hidden %}
                                        <li>Health: {{ character_card.health }}</li>
                                    {% else %}
                                        <li>Health: Hidden</li>
                                    {% endif %}
                                    {% if not character_card.phobia_hidden %}
                                        <li>Phobia: {{ character_card.phobia }}</li>
                                    {% else %}
                                        <li>Phobia: Hidden</li>
                                    {% endif %}
                                    {% if not character_card.hobby_hidden %}
                                        <li>Hobby: {{ character_card.hobby }}</li>
                                    {% else %}
                                        <li>Hobby: Hidden</li>
                                    {% endif %}
                                    {% if not character_card.knowledge_hidden %}
                                        <li>Knowledge: {{ character_card.knowledge }}</li>
                                    {% else %}
                                        <li>Knowledge: Hidden</li>
                                    {% endif %}
                                    {% if not character_card.additional_info_hidden %}
                                        <li>Additional Info: {{ character_card.additional_info }}</li>
                                    {% else %}
                                        <li>Additional Info: Hidden</li>
                                    {% endif %}
                                    {% if not character_card.luggage_hidden %}
                                        <li>Baggage: {{ character_card.luggage }}</li>
                                    {% else %}
                                        <li>Baggage: Hidden</li>
                                    {% endif %}
                            {% endif %}
                        </ul>
                    {% else %}
                        <p>No Character Card available for this player</p>
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% empty %}
            <li>Кімната порожня</li>
        {% endfor %}
    </ul>


    {% if room.voting_started %}
        <form id="voteForm" method="post" action="{% url 'vote_endpoint' room_id=room.id %}">
            {% csrf_token %}
            <input type="hidden" name="room_id" value="{{ room.id }}">
            <label for="selected_player_name">Виберіть гравця:</label>
            <select id="selected_player_name" name="selected_player_name">
                {% if room.turn_ended and room.voting_started %}
                    {% for player in players %}
                        {% if player != user %}
                            <option value="{{ player.username }}">{{ player.username }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
            <button type="submit" {% if not room.turn_ended and not room.voting_started %} disabled {% endif %}>Проголосувати</button>
        </form>
    {% endif %}


    {% if user.is_authenticated and user == room.creator and not room.game_started %}
        <form method="post" action="{% url 'start_game' room.id %}">
            {% csrf_token %}
            <button type="submit">Start Game</button>
        </form>
    {% endif %}

    {% if room.voting_started == True %}
        <h3>Список гравців і кількість голосів за них:</h3>
        <ul id="voteResultsList">
            <!-- Тут буде виведений результат голосування через JavaScript -->
        </ul>
        <button onclick="getVoteResults({{ room.id }})">Отримати результати голосування</button>
    {% endif %}




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        // Відправляємо запит до vote_endpoint
        $.ajax({
            type: "POST",
            url: "/vote_endpoint/",
            data: {
                selected_player_name: selectedPlayerName,
                room_id: roomId,
                csrfmiddlewaretoken: csrftoken
            },
            success: function(response) {
                // Перевіряємо, чи є повідомлення про гравця-переможця
                if (response.message) {
                    // Показуємо pop-up з повідомленням
                    Swal.fire({
                        title: 'Голосування завершено',
                        text: response.message,
                        icon: 'success'
                    });
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Отримуємо ідентифікатор кімнати з HTML-елемента
            var roomId = document.getElementById("roomId").value;

            // Викликаємо функцію для отримання результатів голосування
            getVoteResults(roomId);
        });
        // Функція для отримання результатів голосування через AJAX-запит
        function getVoteResults(roomId) {
            // Виконуємо AJAX-запит для отримання результатів голосування
            $.ajax({
                type: "GET",
                url: `/get_vote_results/${roomId}/`, // URL для отримання результатів голосування
                success: function(response) {
                    // Викликаємо функцію для відображення результатів голосування
                    displayVoteResults(response.voteCounts);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

        // Функція для відображення результатів голосування
        function displayVoteResults(voteCounts) {
            // Отримуємо список для відображення результатів голосування
            var voteResultsList = document.getElementById("voteResultsList");

            // Очищаємо список
            voteResultsList.innerHTML = '';

            // Додаємо кожен результат голосування до списку
            voteCounts.forEach(function(item) {
                var listItem = document.createElement('li');
                listItem.textContent = `${item.target_player__username}: ${item.total_votes}`;
                voteResultsList.appendChild(listItem);
            });

            // Показуємо розділ з результатами голосування
            document.getElementById("voteResultsSection").style.display = "block";
        }

        function vote() {
            var selectedPlayerName = $("#selected_player_name").val(); // Змінено селектор на selected_player_name

            // Перевірка, чи вибраний гравець перед відправкою форми
            if (!selectedPlayerName) {
                alert("Будь ласка, виберіть гравця для голосування.");
                return; // Припинити виконання функції, якщо гравець не вибрано
            }

            var roomId = $("#voteForm input[name='room_id']").val();
            var url = "{% url 'vote_endpoint' room_id=room.id %}";
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    'selected_player_name': selectedPlayerName, // Змінено на передачу імені гравця
                    'room_id': roomId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    alert(response.message);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }
    function handleEndTurnClick(event) {
        console.log('Button clicked!');
        // Отримуємо номер кімнати з атрибута "data-room-id"
        var roomId = event.target.getAttribute('data-room-id');
        // Викликаємо функцію endTurn з номером кімнати
        endTurn(roomId);
    }

    // Додаємо обробник кліків до всіх кнопок з класом "end-turn-button"
    var endTurnButtons = document.querySelectorAll('.end-turn-button');
    endTurnButtons.forEach(function(button) {
        button.addEventListener('click', handleEndTurnClick);
    });

    function endTurn(roomId) {
            var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(`/end_turn/${roomId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: ''
            })
            .then(response => {
                if (response.ok) {
                    // Відключення кнопки "End Turn" для поточного гравця
                    var currentTurnButton = document.querySelector('.end-turn-button[data-room-id="' + roomId + '"]');
                    currentTurnButton.disabled = true;

                    // Активація кнопки "End Turn" для наступного гравця
                    var nextPlayerButton = getNextPlayerButton();
                    if (nextPlayerButton) {
                        nextPlayerButton.disabled = false;
                    }

                    // Оновлення сторінки для відображення оновлених даних
                    location.reload();
                } else {
                    alert('Failed to end turn');
                }
            })
            .catch(error => console.error('Error:', error));
    }

        function getNextPlayerButton() {
            // Отримання списку всіх кнопок "End Turn"
            var endTurnButtons = document.querySelectorAll('.end-turn-button');

            // Пошук наступної кнопки "End Turn" після поточного гравця
            for (var i = 0; i < endTurnButtons.length; i++) {
                if (!endTurnButtons[i].disabled) {
                    // Повернення знайденої кнопки
                    return endTurnButtons[i + 1];
                }
            }

            // Якщо немає наступної кнопки, повертаємо null
            return null;
        }
        

        // Знаходимо всі кнопки з класом "end-turn-button"
        function toggleVisibility(characterCardId, characteristic) {
            // Отримати CSRF-токен
            var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            // Відправити запит на сервер для зміни статусу видимості характеристики
            fetch(`/toggle_visibility/${characterCardId}/${characteristic}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: ''
            })
            .then(response => {
                if (response.ok) {
                    // Оновити сторінку для відображення оновлених даних
                    location.reload();
                } else {
                    alert('Failed to toggle visibility');
                }
            })
            .catch(error => console.error('Error:', error));
}

    function revealCharacteristics() {
      var selectedPlayer = document.getElementById("playerSelect").value;
      var characteristicsDiv = document.getElementById("characteristics");

      // Встановлюємо атрибут hidden в залежності від вибраного гравця
      if (selectedPlayer === "player1") {
        characteristicsDiv.hidden = false;
      } else {
        characteristicsDiv.hidden = true;
      }
    }
        function takePlace(placeId) {
    fetch(`/take_place/{{ room_id }}/${placeId}/`)
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                // Отримуємо DOM-елемент місця за його ID
                const placeElement = document.getElementById(`place${placeId}`);

                // Створюємо текст для відображення номера місця
                const playerPlaceText = document.createTextNode(`${data.player_name} Place №${data.place_number}`);

                // Очищаємо вміст місця
                placeElement.innerHTML = '';

                // Додаємо текст з номером місця до місця
                placeElement.appendChild(playerPlaceText);
            }
        })
        .catch(error => console.error('Error:', error));
}
    function deleteRoom(roomId) {
        fetch(`/delete_room/${roomId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
        .then(response => {
            if (response.ok) {
                // Перенаправлення на головну сторінку, якщо видалення пройшло успішно
                window.location.href = '/';
            } else {
                alert('Failed to delete room');
            }
        })
        .catch(error => console.error('Error:', error));
    }
    </script>


</body>
</html>