{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Rules</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: black">
    <div class="container my-5 text-white">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="border border-3 border-f2b705 p-4 rounded">
                    <h1 class="text-center mb-4" style="color: #F2B705">Game Rules</h1>

                    <p>Welcome to the "Bunker" game! Here are the rules:</p>

                    <h2>Objective</h2>
                    <p>The main objective of the game is to survive in the bunker until the end and be the last remaining player.</p>

                    <h2>Game Preparation</h2>
                    <p>The game starts with each player entering the bunker. The room owner can start the game when there are enough players in the bunker.</p>

                    <h2>Characteristics</h2>
                    <p>Each player is assigned various characteristics such as age, height, weight, health status, phobia, hobby, personality, belongings, additional information, and knowledge. These characteristics play a key role in the game.</p>

                    <h2>Turns</h2>
                    <p>The game is played in turns. During each turn, players reveal one of their characteristics to others. After all players have revealed their characteristics, the voting phase begins.</p>

                    <h2>Voting</h2>
                    <p>Players vote for the player they wish to exclude from the game.</p>


                </div>
            </div>
        </div>
    </div>
</body>
</html>
